# If you want ipython to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install ipython-qtconsole.desktop

[Desktop Entry]
Comment=Enhanced interactive Python qtconsole
Exec=jupyter qtconsole
GenericName[en_US]=Python shell
GenericName=Python shell
Icon=gnome-netstatus-idle
Name[en_US]=Jupyter Qt console
Name=Jupyter Qt console
Categories=Development;Utility;
Terminal=false
Type=Application
Actions=Matplotlib;Matplotlibinline;

[Desktop Action Matplotlib]
Name=Matplotlib
Exec=jupyter qtconsole --matplotlib

[Desktop Action Matplotlibinline]
Name=Matplotlib (inline plots)
Exec=jupyter qtconsole --matplotlib=inline
